body {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  text-align: center;  
  background-attachment: fixed;
  color: black;
  
}

#logo{
  height: 15vh;
}

.jumbotron{
  background-image: url("../images/julioo.jpg");
  background-size: auto;
  background-repeat: repeat;
  color: black;
  background-attachment: fixed;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  text-shadow: 0.5px 0.5px 0.5px burlywood;
} 
.jumbotron h3{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5em;
  text-shadow: 2px 2px 1px burlywood;
}
#pizzacart{
  color: white;
  float:right;
  clear:left;
  padding-bottom:21%;
}